option_settings:
  aws:elbv2:loadbalancer:
    IdleTimeout: 1200

  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: /root
    COMPOSER_MEMORY_LIMIT: -1
    BBHUB_BASE_URL: https://dev.biblebrainhub.fcbh.org
    BBHUB_SERVICE_TIMEOUT: 1200

  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "On"
    max_execution_time: 1200
    composer_options: --no-interaction --prefer-dist --optimize-autoloader --no-dev
